{
  "autoon": true,
  "enable_on_standby": false,
  "hostname": "TWatch2020",
  "webserver": false,
  "ftpserver": "192.168.0.2",
  "ftpuser": "TWatch",
  "ftppass": "1234",
  "networklist": [
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    },
    {
      "ssid": "",
      "psk": ""
    }
  ]
}
